.navbar-nav{
    font-family: 'Cinzel', serif;;
    font-weight: 500;

    li {
        .dropdown-menu {
            background-color: #783943;

            li {
                a {
                    color: white !important;
                }
            }
        }
    }
}

.dropdown-item:hover {
    background-color:$primary-color;
}