// variables

$primary-color: #7e3340;
$secondary-color: #757575;
$secondary-color-light: #a7a7a7;

$title: 'Cinzel', serif;
$paragraph: 'Roboto', sans-serif;


@mixin font-title {
    font-family: $title;
    font-weight: 500;
    color: $primary-color;
}

@mixin font-paragraph {
    font-family: $paragraph;
    font-weight: 300;
}